<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="image/logom.png" width="87" height="53">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu"
         aria-expanded="false" data-target="navbarBasicExamle">
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
    </a>
    <div id="navbarBasicExample" class="navbar-menu">
    
        <div class="navbar-end" style="margin-left: 900px;">
            
            <div class="navbar-item">
              <form action="/blog" method="post">
                <div class="field has-addons">
                    <div class="control">
                      <input class="input is-primary" name="search" type="text" placeholder="Yazınız...">
                    </div>
                    <div class="control">
                      <button class="button is-primary"  type="submit">
                        Arama...
                      </a>
                    </div>
                  </div>
              </form>
            </div>
        </div>
    </div>

    </div>
</nav>